<div id="categories">
  <header class="header">
    <form (ngSubmit)="addList(inputAdd.value, form)" #form="ngForm" novalidate>
      <div class="form-group d-flex justify-content-center">
        <span>Categorias</span>
      </div>
      <div class="form-group d-flex justify-content-center">
        <input
          class="form-control col-sm-10 mr-2"
          name="addCategorie"
          placeholder="Adicionar nova Categoria"
          #inputAdd="ngModel"
          ngModel
          required
        />
        <button class="btn btn-primary" [disabled]="!form.valid">
          Adicionar
        </button>
      </div>
    </form>
  </header>

  <main>
    <section class="content" *ngIf="!noRegister">
      <div class="container">
        <div class="card">
          <div
            class="list alert alert-primary"
            *ngFor="let item of result"
            id="{{ item.id }}"
          >
            <span [routerLink]="['/lists', item.id, { name: item.name }]">{{
              item.name
            }}</span>
            <div class="btn-group rounded-pill">
              <button
                class="rounded-circle border-0"
                (click)="openModal(template, item)"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button
                class="rounded-circle border-0"
                (click)="handleDelete(item.id)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="content" *ngIf="noRegister">
      <div class="container">
        <div class="card">
          <span class="m-2">Não há Categorias...</span>
        </div>
      </div>
    </section>
  </main>
</div>

<!-- Modal Template -->
<ng-template #template>
  <div class="modal-body text-center">
    <b>Atualizar Categoria</b>
    <input
      class="form-control mb-2"
      type="text"
      name="editCategorie"
      [value]="editCategorie.name"
      #ref
    />
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="confirmUpdate(ref.value)">
        Salvar
      </button>
      <button class="btn btn-secondary" (click)="closeModal()">
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
